*{
    font-family: Arial, Helvetica, sans-serif;
}    
body{
    background-color: darkolivegreen
}
.menu-horizontal{
    width: 100%;
    background-color: rgb(204, 224, 216);
    height: 50px;
    padding-top: 25px;
}
a{
    color: darkolivegreen;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}
a:hover{
    color: black;
    transition: 0.7s;
}
h1{
    margin-top: 30px;
    color: rgb(204, 224, 216);
}
p{
    color: rgb(204, 224, 216);
}